@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====== ANODINA FONT ====== */
@font-face {
  font-family: 'Anodina';
  src: url('/fonts/anodina/Anodina-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Anodina';
  src: url('/fonts/anodina/Anodina-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Anodina';
  src: url('/fonts/anodina/anodina-regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Anodina';
  src: url('/fonts/anodina/Anodina-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Anodina';
  src: url('/fonts/anodina/Anodina-ExtraBold.otf') format('opentype');
  font-weight: 800;
}